#name {
    color: coral;
}

#major {
    color: gray;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color: coral;
}

#tel {
    color: black;
}

#dottedline {
    border: none;
    border-top: 5px dotted gray;
    width: 100%;
}
