body{
    width: 1000px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.layout-container{
    display: flex;
    width: 1000px;
    height: 1000px;
    background-color:#FAD0C9;
    justify-content: space-evenly;
    border: 5px solid #6E6E6D;
    border-radius: 20px;
}

.layout-container2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 60%;
}

.layout-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 30%;
}

.banner{
    background-color:#fdeeeb;
    border: 3px solid #6E6E6D;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.layout-title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 30%;
}

.title{
    background-color: #fdeeeb;
    border: 3px solid #6E6E6D;
    border-radius: 5px;
    width: 600px;
    height: 100px;
}

.layout-grid{
    display: grid;
    grid-template-columns: 295px 295px;
    grid-template-rows: 290px 290px;
    grid-gap: 10px;
    flex-basis: 60%;
}

.grid{
    background-color:#fdeeeb;
    height: 290px;
    width: 290px;
    border: 3px solid #6E6E6D;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
